.detail{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /* padding: 14%; */
    backdrop-filter: blur(5px);
    width: 50%;
    margin: auto;
    position: fixed;
    top: 22%;
    left: 22%;
    padding: 2em;
    border: 5px solid black;
    border-radius: 15px;
    /* color: white; */
}
.detail p{
    background: linear-gradient(grey,black);
    color: white;
    padding: 1em;
    border-radius: 10px;
    font-size: 1.2em;
}
.detail h2{
    border-bottom: 2px solid black;
}
.detail h3{
    background: linear-gradient(to bottom right,grey,white);
    color: black;
    padding: 1em;
    border-radius: 10px;
    border-bottom: 2px solid black;
}
.detail div{
    display: flex;
    gap : 1em
}